Parsing email addresses with successive period characters

Mail::Message does not parse email addresses with consecutive periods - I am wondering if that is correct?
```
Mail::Message::Field::Address->coerce('RobertWaw <k..y.2.a.rteyrl@gmail.com>');
```

According to [RFC5322 section 3.2.3](https://datatracker.ietf.org/doc/html/rfc5322#section-3.2.3) the email address is illegal, so casting an error is correct.